@media screen and (max-width:850px){
    .card3{grid-template-columns: auto;}
}
@media screen and (max-width:500px){
    .card1{
        width:100%;
        /* display:block; */
        padding:0px;
        margin:0px;

        /* margin:2px 4px; */
        /* grid-template-columns:100%; */
    }
    .flexs{
        display:block;
        width:100%;
    }
    .flexs img{
        /* margin-left:calc(center-10px); */
    justify-content: center;
    height:auto;
    width:80%;
    margin-left:25px;
    }
    .card2{
        grid-template-columns: auto;
        margin:0px;
    }
    .disp{
        display:block;
        
    }
    iframe{
        width:100%;
        margin:auto;
        height:200px;
    }
    .card3{
        grid-template-columns: auto;
        margin:0px;
        max-width: max-content;
        padding:0px;
    }
.talent{grid-template-columns:auto;
margin:calc(100%-width);

/* width:max-content; */
}
.vid{display:block;}
.card6{
    display:block;
}
.card6 img{
    display:block;
    margin:0px auto;
    /* width:50%; */
}
.displa{
    display:block;
    
}
.n{
    grid-template-columns:0.4fr 2fr ;
}
.np{
    margin:0 100%;
    width:100%;
    display:block;
    text-align:center;
}
.carr{
    margin:0px;
    padding:0px;
}
.im img{
    width:300px;
    height:180px;
}

.cardss{
    margin:0px;
    width:80%;
    display:block;
    
}
.nith-service{width:80%;}
.nith-service img{
    height:350px;
}
/* .arrow{
    top:25%;
} */

.home img{
    height:350px;
}
.slid{
    width:80%;
    height:350px;
}
.slid .haril{left:12%;}
.slid .harir{right:12%}
.slid h1{
margin:0px;}
tr,td,th{display:block;
border:none;
text-align: left;}

}