*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.card{
    box-sizing: border-box;
    /* background-image: brown; */
    /* background-position: absolute; */
    /* border:4px solid blue; */  
}

.flexs img{
    padding:10px;
    margin:10px;
    height:160px;
    width:160px;
    object-fit: cover;
    border-radius: 50%;
}
.card1{
    width:fit-content;
    display:grid;
    grid-template-columns: auto;
    grid-gap:1.5rem;
    padding:10px;
   /* background-color: chartreuse; */
    margin:0px auto;}
.container{
    /* position:relative; */
    background-image:url('D:\NSS\frontend\src\components\bgnss.jpg');
    /* background-color:blueviolet; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    opacity:2;
    background-clip: padding-box;
    object-fit: cover;
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;

    margin:0px 0px;
    padding:0px;

}
.c{
    background-color: white;
}
.flexs{
    display:flex;
    /* justify-content:center; */
    align-items: center;
    height:fit-content;
    padding:5px;
    /* margin:19px; */
    width:480px;
}
.disp{
    display:flex;
    flex-direction:column;
    justify-content: end;
    height:auto;
    /* align-items: stretch; */
    align-content: flex-end;
    /* margin:10px; */
    padding:10px;
    text-align: center;
    /* width:450px; */
}
.disp p{
    /* padding:10px; */
    margin:auto;
}
iframe{
    margin:10px;
    width:350px;
    height:250px;
}


.talent img,video{
    width:300px;
    height:200px
}
.grid1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:fit-content;
    align-items:center;
    text-justify: distribute-all-lines;
       
}
.grid1 img{
    height:180px;
    width:180px;
}
.grid1 p{
    padding:15px;
    text-align:justify;
}
.card2{
    max-width:800px;
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:2rem;
    padding:10px;
   /* background-color: chartreuse; */
    margin:0px auto;
}

.talent{
    width:max-content;
    display:grid;
grid-template-columns:auto auto;
    padding:10px;
    justify-content:center;
    margin:auto;
}

.talent img{
    padding:15px;
}

.card3{
    /* width:auto; */
    max-width: min-content;
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:2rem;
    padding:10px;
   /* background-color: chartreuse; */
    margin:0px auto;
}

.dis{
    margin:10px;
    padding:10px;
    text-align: center;
}

.vid img,.vid video{
    width:300px;
    height:200px;
    padding: 15px
}

.vid{
    padding:10px;
    margin:auto;
    justify-content:center;
}

.niii{
    text-align:center
}

.slid{
    background-image:url('https://static.wixstatic.com/media/7a80d103056d491895f4d6be5be211ef.jpg/v1/fill/w_1225,h_488,al_c,q_85,usm_0.66_1.00_0.01/7a80d103056d491895f4d6be5be211ef.jpg');
    background-size:cover;
    padding:100px;
    margin:20px;
}

.event{
    background-color: yellow;
    padding:100px;
    
}
.slid h1{
    color:white;

}
.card23{
    max-width:700px;
    display:grid;
    grid-template-rows: auto;
    /* grid-template-columns: 1fr 3fr 1fr; */
    grid-gap:2rem;
    padding:10px;
   /* background-color: chartreuse; */
    margin:0px auto;
}
.carddd{
    background-color: lightgray;
    border:2px solid grey;
}
.carddd h2{
    text-align: center;
    padding:6px;

}
.carddd p{
    text-align: justify;
    padding:5px;
    margin:4px;
}
.n{
    display:grid;
grid-template-columns: 0.5fr 2fr 1fr;}
.np{
    padding:10px 0px;
}
.pp{
    /* margin:auto; */
    /* width:fit-content; */
    max-width:250px;
}
.pp p{
    padding:5px;
text-align: justify;}
.contain{
    margin:auto;
    padding:20px;
    min-width:fit-content;
}
.contain h1{
    padding:10px;
    margin:15px;
    text-align:center;
}
.card6{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    margin:auto;
    min-width:auto;

    max-width:700px;
    min-height:85vh;

}
.displa{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    padding:10px;
    margin:14px;
    text-align: center;
}
.card6 h1{
    margin:0px auto;
    text-align: center;
}
.displa a{
    padding:11px;
}

.card7{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    margin:auto;
    min-width:auto;

    max-width:700px;
    min-height:85vh;

}
.im img{
    width:300px;
    height:180px;
}

.carr{
    display:flex;

    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 33%; */
    padding:20px;
    margin:auto;
    max-width:1000px;
    row-gap: 22px;
    column-gap:15px;
    justify-content:center;
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:2rem; */
    
    
}
/* .niw{
    width:auto;
} */
.cardss{
    flex-grow: 1;
    
/* margin:12px; */
    /* flex:0 0 0 250px; */
    display:flex;
    flex-direction:column;
    margin:auto;
    max-width: 300px;
    background-color: white;

}
.cert{
    max-width:1050px;
    margin:200px auto;
    /* margin-left:400px; */
    height:35vh
}
.center{
    max-height:100vh;
}
.cert h3,.cert h4{
    padding:40px;
    margin:auto;
    text-align: center;
}